<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>jQuery To Do</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <form action="#">
        <div class="input-group">
          <input type="text" class="todos-task-input form-control" placeholder="What do you need to do?">
          <span class="input-group-btn">
            <input type="submit" class="todos-add-task btn btn-primary" type="button" value="Add It!" />
          </span>
        </div>
      </form>
      <br/>
      <ul class="todos-list list-group"></ul>
      <ul class="todos-completed list-group"></ul>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default todos-clear-completed">Clear Completed</button>
        <button type="button" class="btn btn-default todos-clear-all">Clear All</button>
      </div>
    </div>
  </div>
</div>