<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>jQuery To Do</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="input-group">
        <input type="text" class="todos-task-input form-control" placeholder="What do you need to do?">
      <span class="input-group-btn">
        <button class="todos-add-task btn btn-primary" type="button">Add It!</button>
      </span>
      </div>
      <br/>
      <ul class="todos-list list-group"></ul>
      <ul class="todos-completed list-group"></ul>
    </div>
  </div>
</div>